.tagWrapper {
  padding: 1px 8px;

  text-transform: uppercase;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  border: 1px solid #434343;
  border-radius: 4px;
}
