.buttonIconWrapper {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;

  background: #1f1f1f;
  color: rgba(255, 255, 255, 0.85);

  border: 1px solid #434343;

  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 8px;
  cursor: pointer;
}

.buttonIconWrapper:hover {
  filter: brightness(150%);
}
