.pricingWrapper {
  padding: 24px;

  background: #141414;
  border-radius: 8px;

  color: rgba(255, 255, 255, 0.85);
}

.pricing__table {
  background: #1f1f1f;
  border-radius: 8px;
}

.pricing__tableHeader {
  width: 50%;
  padding: 16px;
}

.pricing__btn {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;

  display: flex;
  align-items: center;

  padding: 8px 16px;

  text-align: center;
}

.pricing__btn-2 {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;

  display: flex;
  align-items: center;

  text-align: center;
}

.pricing__btn-2-1 {
  background-color: #651fff;
  padding: 6px 8px;
  border-radius: 8px 0 0 8px;
}

.pricing__btn-2-2 {
  padding: 8px 16px;
  border-radius: 0 8px 8px 0;

  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.pricing__note {
  margin-top: 8px;
  text-align: right;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.45);
}
